@{
    Layout = "_Layout";

    ViewData["Title"] = "Unsubscribe";
}
@section Scripts {

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous" async></script>

    <!--- Bootstrap 4.0.0 ||| JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" async></script>

    <!-- Local JS -->
    <script src="~/js/js.js" type="text/javascript" defer></script>

}

<!-- Unsubscribe -->
<section id="unsubscribe">
    <div class="container">
        <div class="row">
            <div class="col-12 ">

                <h1 style="text-align: center">Unsubscribe From The Register</h1>

                <hr>

                <p style="text-align: center">
                    If you would like to unsubscribe then please enter your work email into the form below. We will add this email to our block list and you will no longer receive contact from us.

                    <br><br>

                    Please enter your email address and the hit "Submit"
                </p>

                <br>


                <div class="row">
                    <div class="col-8 ma">
                        <form action="https://europe7.fivecrm.com/509399/webFormSubmit.php" method="post" name="myform" id="myform" enctype="multipart/form-data">
                            <input type="hidden" name="FORMNAME" value="Customer Unsub">
                            <input type="hidden" name="AREA" value="007">
                            <input type="hidden" name="OWNER-TELRCM" value="">
                            <input type="hidden" name="CUSTOMERSTATUS-TELRCM" value="">

                            <input type="hidden" name="REDIRECT" id="redirect" value="ctm.thereglabs.com/">

                            <input type="hidden" name="NOTIFY" value="ctm@sitpub.com">
                            <input type="hidden" name="PROJECT-TELRCM" value="">
                            <input type="hidden" name="privacyDetailTemplate" value="">
                            <input type="hidden" name="updateOnField" value="">
                            <input type="hidden" name="HASH" value="275cf71a757ac6b719a6e490fe504b6c">
                            <input type="hidden" name="type" value="import">
                            <input type="hidden" name="NEXTDATE-TELRCM" value="2018-08-01 01:00:00">

                            <table>
                                <tbody>

                                    <tr style="display:none;">
                                        <td>Contact name</td>
                                        <td><input type="text" name="CONTACT-CONT" id="CONTACT" value="Customer Unsub"></td>
                                        <td><input type="text" name="COMPANY-TELRCM" id="EMAIL1" value="Customer Unsub"></td>
                                    </tr>

                                    <tr>
                                        <td style="padding-right:25px;"><h5>Email Address:</h5></td>
                                        <td><input style="width:400px;" type="email" name="EMAIL-CONT" id="EMAIL"></td>
                                        <td style="padding-left:25px;"><input type="submit" id="submit" name="wform" value="SUBMIT" class="btn btn-primary button"></td>
                                    </tr>

                                </tbody>
                            </table>

                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
